{% extends "shablon.twig" %}

{% block content %}
	<h3>Персонаж</h3>
	<hr>
	{% if message %}
		<div class="alert alert-info">
			{{message}}
			<a href="/char/{{id}}">открыть новый объект</a>
		</div>
	{% endif %}


	<form class="row g-3" enctype="multipart/form-data" action="" method="POST">
		<div class="col-4">
			<label class="form-label">Название</label>
			<input type="text" class="form-control" name="title" value="{{object.title}}">
		</div>
		<div class="col-4">
			<label class="form-label">Краткое описание</label>
			<input type="text" class="form-control" name="description" value="{{object.description}}">
		</div>
		<div class="col-4">
			<label class="form-label">Тип</label>
			<select class="form-control" name="type" value="{{object.type}}">
				{% for type in types %}
					<option {% if object.type == type.name %}selected{% endif %} value="{{type.name}}" >{{ type.name|title }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="mb-3">
			<label for="formFile" class="form-label">Картинка !квадратная!</label>
			<input class="form-control" type="file" name="image">
		</div>
		<div class="col-12">
			<textarea name="info" class="form-control" rows="5" placeholder="Полное описание...">{{object.info|raw}}</textarea>
		</div>
		<div class="col-12 text-end">
			<button type="submit" class="btn btn-primary">Добавить</button>
		</div>
	</form>

{% endblock %}
